<footer class="footer" >

    <div class="container-fluid mt-5" >
        <div class="row">
            <div class="container pt-5" >
                <div class="row">
                    <div class="col-3">
                        <div>
                            <p>FURNITURE</p>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                            </p>
                            <br>
                            <span><i class="fa fa-facebook-square"
                                    style="font-size:30px;color:rgb(0, 0, 0)"></i></span>&nbsp;&nbsp;
                            <span><i class="fa fa-twitter"
                                    style="font-size:20px;color:rgb(0, 0, 0)"></i></span>&nbsp;&nbsp;
                            <span><i class="fa fa-instagram" style="font-size:30px;color:rgb(0, 0, 0)"></i></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <p>MENU</p>
                        <p>Shop</p>
                        <p>About</p>
                        <p>Journal</p>
                        <p>Contact Us</p>
                    </div>
                    <div class="col-3">
                        <p>Help</p>
                        <p>Shipping Information <span>FAQs</span></p>
                        <p>Return & Exchange <span>Contact</span></p>
                        <p>Term & Condition</p>
                        <p>Privacy Policy</p>
                    </div>
                    <div class="col-3">
                        <p>HAVE A QUESTIONS?</p>
                        <p><i class="material-icons">location_on</i>St 123, Mumbai</p>
                        <p><i class="material-icons">call</i> Toll free (123) 456-7890</p>
                        <p><i class="material-icons">email</i> mail@domain.com</p>
                    </div>
                </div>

            </div>

        </div>
    </div>






</footer>