/* product category start */
.product_color{
    background-color: #ecfdfe;
    position: relative;
  }
  
  
  .prodcut_heading{
    background-color:  #ecfdfe;
    width: 100%;
    height: 300px;
    padding-top: 70px;
    color:   rgb(42, 97, 114);
  
  
  }
  .prodcut_heading_h{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
  }

  
  .prodcut_img{
    background-color: #ecfdfe;
   
    height: 300px;
    /* padding-top: 50px; */
  }
  /* product category end */


  /* table start */
.table_head{
    background-color: black;
    color: white;
    font-size:13px;
    font-weight:700;
    font-family: sans-serif;
}
.table_heading{
    padding: 25px ;
}

  /* table end */