<div class="product_color">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 ">
                <div class="prodcut_heading d-flex justify-content-center">
                    <h2 class="prodcut_heading_h">Product Category</h2>
                    <div class="prodcut_heading_p">
                        <p>Home - Shop Category</p>
                    </div>

                </div>

            </div>
            <div class="col-md-6 ">
                <div class="prodcut_img">
                    <img src="../../assets/images/feature_4.png">
                </div>

            </div>
        </div>

    </div>
</div>


<!-- <div class="container ">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">
                    <i class="fa fa-bars" style="font-size:24px"></i></a>
                <form class="form-inline">
                    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search" style="font-size:24px"></i>
                </form>
            </nav>
        </div>
    </div>
</div> -->


<!-- prodcut -->


<div class="container-fluid  ">
    <!-- left side -->
    <div class="row">
        <div class="col-3 " class="product_family">

            <div class="mb-2">
                <p class="border_product">Product Family</p>

                <uL  *ngFor="let familyNames of productFamilyArray " class="product_list">
                    <li (click)="onFamilyClick(familyNames)" > {{familyNames.name}}</li>
                    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
                 
                    <!-- <li><a routerLink="single" class="decoration">Single Bed</a> </li>
                    <li> <a routerLink="fourbed" class="decoration">Four Poster Bed</a> </li>
                    <li> <a routerLink="single" class="decoration">Chair Peds </a></li>
                    <li> <a routerLink="single" class="decoration">Laptop Tables</a></li>
                    <li> <a routerLink="single" class="decoration">Double Bed</a></li> -->
                </uL>

               
            </div>
            <div class="mt-5">
                <p class="border_product">Brands</p>
                <div class="brand">
                    <input type="checkbox" > &nbsp; <span>Amado</span>
                </div>
                <div class="brand">
                    <input type="checkbox" >&nbsp;<span>Ikea</span>
                </div>
                <div class="brand">
                    <input type="checkbox" >&nbsp;<span>Furniture Inc</span>
                </div>
                <div class="brand">
                    <input type="checkbox" >&nbsp;<span>The factory</span>
                </div>
            </div>

            <!-- part2 -->
            <div>
                <h4 class="border-bottom border-danger">Size</h4>



                <div class="form-check ">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" class="checkbox">
                    <span>S</span>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" class="checkbox">
                    <label class="form-check-label" for="exampleCheck1">M</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" class="checkbox">
                    <label class="form-check-label" for="exampleCheck1">L</label>
                </div>

            </div>

        </div>
        <!-- right side  -->
        <div class="col-9 mt-4 ">
            <!-- <router-outlet > </router-outlet> -->
            <app-doublebed  ></app-doublebed>
            <!-- <app-singlebed></app-singlebed> -->
        </div>


    </div>



</div>