<!-- banner page -->


<div class="container-fluid">
    <div class="row">
        <div class=" col-sm-12 col-md-12 p-5" style="background-color: #ecfdfe ;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class=" p-5" class="bigBanner">
                                    <h1 class="headingFont">
                                        Wood & Cloth Sofa 
                                    </h1>
                                    <p class="paragraphFont">
                                        Be An Inspiration By Donning Pieces From Our Latest Single Diamond Ring
                                        Collection
                                    </p>
                                    <button class="bannerBtn" (click)="onProduct()">
                                        Buy Now
                                    </button>
                                </div>

                            </div>
                            <div class=" col-sm-6 col-md-8 ">

                                <img class="d-block p-5" src="../../assets/images/banner_img.jpg" width="100%"
                                    height="500px" alt="First slide">


                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="row">
                            <div class="col-4">
                                <div class=" p-5" class="bigBanner">
                                    <h1 class="headingFont">
                                        Cloth Sofa & Wood
                                    </h1>
                                    <p class="paragraphFont">
                                        Be An Inspiration By Donning Pieces From Our Latest Single Diamond Ring
                                        Collection
                                    </p>
                                    <button class="bannerBtn" (click)="onProduct()">
                                        Buy Now
                                    </button>
                                </div>

                            </div>
                            <div class="col-8 ">
                                <img class="d-block w-100 p-5" src="../../assets/images/banner_img.jpg" height="500px"
                                    alt="First slide">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="row">
                            <div class="col-4">
                                <div class=" p-5" class="bigBanner">
                                    <h1 class="headingFont">
                                        Cloth Sofa & Wood
                                    </h1>
                                    <p class="paragraphFont">
                                        Be An Inspiration By Donning Pieces From Our Latest Single Diamond Ring
                                        Collection
                                    </p>
                                    <button class="bannerBtn" (click)="onProduct()">
                                        Buy Now
                                    </button>
                                </div>

                            </div>
                            <div class="col-8 ">
                                <img class="d-block w-100 p-5" src="../../assets/images/banner_img.jpg" height="500px"
                                    alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>
        </div>
    </div>
</div>

<!-- banner page end -->

<!-- Featured Category page -->

<div class="container ">
    <div class="row m-5 pt-5  ">
        <div class="col-12 d-flex justify-content-center ">
            <h2 class="featured"> FEATURED CATRGORY</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-7  ">
            <div class="feature_color">
                <div class="feature_1" class="d-flex justify-content-end pt-4 pr-4 pl-4">

                    <p class="featuredp mt-4">Premium Quality</p>
                    <h3 class="featuredh mt-3">Latest foam Sofa</h3>

                    <img class="d-block  " src="../../assets/images/feature_1.png" width="59%">
                </div>
                <div class="featureButtonp">
                    <p (click)="onProduct()"> EXPLORE NOW >>
                    <p>
                </div>

            </div>

        </div>
        <div class="col-sm-12 col-md-5 ">
            <div class="feature_color">
                <div class="feature_1" class="d-flex justify-content-end pt-2 pr-4 pl-4">

                    <p class=" featuredp2">Premium Quality</p>
                    <h4 class="featuredh2">Latest foam Sofa</h4>
                    <img class="d-block  " src="../../assets/images/feature_2.png" width="63%">
                </div>
                <div class="featureButtonp">
                    <p (click)="onProduct()"> EXPLORE NOW >>
                    <p>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-5 ">
            <div class="feature_color">
                <div class="feature_1" class="d-flex justify-content-end pt-4 pr-4 pl-4">

                    <p class=" featuredp2">Premium Quality</p>
                    <h4 class="featuredh2">Latest foam Sofa</h4>

                    <img class="d-block w-70 pt-5 " src="../../assets/images/feature_3.png">
                </div>
                <div class="featureButtonp">
                    <p (click)="onProduct()"> EXPLORE NOW >>
                    <p>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-7  ">
            <div class="feature_color">
                <div class="feature_1" class="d-flex justify-content-end pt-4 pr-4 pl-4">

                    <p class="featuredp4 mt-4">Premium Quality</p>
                    <h3 class="featuredh4 mt-3">Latest foam Sofa</h3>

                    <img class="d-block  pt-5 " class="feature_img4" src="../../assets/images/feature_4.png " width="90%">
                </div>
                <div class="featureButtonp">
                    <p (click)="onProduct()"> EXPLORE NOW >>
                    <p>
                </div>
            </div>

        </div>

    </div>

</div>


<!-- Featured Category page  end -->


<!-- card slider  section -->

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 style="font-size: xx-large;">Best Sellers</h2>
        </div>
    </div>
    <div class="row mt-2">
        <!-- card 1 -->
        <div class="col-sm-12  col-md-3">
            <div class="card_Image">
                <div class="image">
                    <img class="image__img" src="../../assets/images/product_1.png" alt="Card image cap">
                    <div class="image__overlay">
                        <button class="addCard">Add To Cart</button>
                        <button class="buyCard">Buy Now</button>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title">WESTIDO</h5>

                    <div class="row">
                        <div class="col-6 ">
                            <p class="card-text">Rs.1500</p>
                        </div>
                        <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- card 2 -->
        <div class="col-sm-12 col-md-3">
            <div class="card_Image">
                <div class="image">
                    <img class="image__img" src="../../assets/images/product_2.png" alt="Card image cap">
                    <div class="image__overlay">
                        <button class="addCard">Add To Cart</button>
                        <button class="buyCard">Buy Now</button>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title">METSMITH</h5>

                    <div class="row">
                        <div class="col-6 ">
                            <p class="card-text">Rs.1100</p>
                        </div>
                        <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- card 3 -->
        <div class="col-sm-12 col-md-3">
            <div class="card_Image">
                <div class="image">
                    <img class="image__img" src="../../assets/images/product_3.png" alt="Card image cap">
                    <div class="image__overlay">
                        <button class="addCard">Add To Cart</button>
                        <button class="buyCard">Buy Now</button>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title">Mofi</h5>

                    <div class="row">
                        <div class="col-6 ">
                            <p class="card-text">Rs.1700</p>
                        </div>
                        <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- card 4 -->
        <div class="col-sm-12 col-md-3">
            <div class="card_Image">
                <div class="image">
                    <img class="image__img" src="../../assets/images/product_4.png" alt="Card image cap">
                    <div class="image__overlay">
                        <button class="addCard">Add To Cart</button>
                        <button class="buyCard">Buy Now</button>
                    </div>

                </div>
                <div class="card-body">
                    <h5 class="card-title">WESTIDO</h5>

                    <div class="row">
                        <div class="col-6 ">
                            <p class="card-text">Rs.2500</p>
                        </div>
                        <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- card slider section end -->

<!-- background banner section start  -->

<div class="container-fluid mt-5">
    <div class="subsribe">
        <div class="row">
            <div class="col-sm-12  col-md-12 ">
                <div class="container">
                    <div class="mt-5 py-5">

                        <h2 class="subscribe_heading ">Subscribe to get Updated
                            with new offers</h2>

                    </div>
                    
                    <button class="subsribeBtn" >Subscribe</button>

                </div>
            </div>
        </div>

    </div>
    <!-- background banner section end  -->

    <!-- background banner part 2 section start  -->
    <div class="container-fluide mt-3 ">
        <div class="row no-gutters">
            <div class="col-sm-12  col-md-7">
                <div class="furniture_manufacture">

                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class=" furniture_margin ">
                    <div class="furniture_manufacture2 p-5">
                        <h2 class="furniture_manufacture2h">BEST FURNITURE<br>
                            MANUFACTURER</h2>
                        <p class="furniture_manufacture2p">
                            Suspendisse varius enim in eros elementum tristique. Duis cursus<br>,
                            mi quis viverra ornare, eros dolor interdum nulla.<br><br>

                            Suspendisse varius enim in eros elementum tristique. Duis cursus,<br> mi quis viverra
                            ornare,
                            eros dolor interdum nulla.
                        </p>
                        <button class="btn btn-primary">Discover More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- background banner part 2 section end  -->


    <!-- security details section start -->
    <div class="container-fluid" class="serviceArea">
        <div class="row">

            <div class="col-3">
                <div class="service my-5 p-5">
                    <img src="../../assets/images/services1.svg">
                    <h4>Fast & Free Delivery</h4>
                    <p>Free delivery on all orders</p>
                </div>

            </div>
            
            <div class="col-3">
                <div class="service my-5 p-5">
                    <img src="../../assets/images/services2.svg">
                    <h4>Secure Payment</h4><br>
                    <p>Free delivery on all orders</p>
                </div>

            </div>
            
            <div class="col-3">
                <div class="service my-5 p-5">
                    <img src="../../assets/images/services3.svg">
                    <h4>Money Back Guarantee</h4>
                    <p>Free delivery on all orders</p>
                </div>

            </div>
            
            <div class="col-3">
                <div class="service my-5 p-5">
                    <img src="../../assets/images/services4.svg">
                    <h4>Online Support</h4><br>
                    <p>Free delivery on all orders</p>
                </div>

            </div>


        </div>
    </div>
    <!-- security details section end -->


    <!-- <div class="back">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">

                    <div class="border-bottom my-2">
                        <ngb-carousel>

                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">

                                    <img src="../../assets/images/sofa2.jpg" class="banner" alt="Random second slide">
                                </div>
                                <div class="carousel-caption">
                                    <h3>Second slide label</h3>
                                    <p>Create Your Own Space With Flipkart Furniture.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img src="../../assets/images/sofa3.jpg" class="banner" alt="Random third slide">
                                </div>
                                <div class="carousel-caption">
                                    <h3>Third slide label</h3>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                    <div class="col-md-8"></div>

                </div>
            </div>
        </div>


    </div> -->


    <!-- second part after the carousel  -->


    <!-- <div class="container">
        <div class="row g-5 ">
            <div class="col-6 ">
                <div class="chair">
                    <img src="../../assets/images/chair3.jpg" width="100%" height="300px">
                    <h2 class="heading">WEEKEND SALE UP TO 80% OFF</h2>
                    <p class="heading2">Be An Inspiration By Donning Pieces From Our Latest Single Diamond Ring
                        Collection
                    </p>
                    <button class="heading3 btn btn-outline-danger" (click)="onProduct()">SHOP NOW</button>
                </div>


            </div>
            <div class="col-3 ">
                <div>
                    <img src="../../assets/images/chair2.jpg" width="100%" height="300px" class="img"
                        style="border-radius: 20px;">
                </div>
            </div>
            <div class="col-3 ">
                <div>
                    <img src="../../assets/images/chair.jpg" width="100%" height="300px" style="border-radius: 20px;">
                </div>
            </div>

        </div>

    </div> -->


    <!-- cards section -->

    <!-- <div class="container my-5">
        <div class="row">
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">WESTIDO</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair2.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">METSMITH</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">Mofi</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair2.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">WESTIDO</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- cards section 2 -->



    <!-- <div class="container my-5">
        <div class="row">
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">WESTIDO</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair2.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">WESTIDO</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">WESTIDO</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <div class="card" style="width: 18rem;">
                        <div class="m-3">
                            <img class="card-img-top" src="../../assets/images/chair2.jpg" width="100%" height="200px"
                                alt="Card image cap">
                        </div>

                        <div class="row">
                            <div class="col-6 ">
                                <h6 style="text-align: center;">WESTIDO</h6>
                            </div>
                            <div class="col-6"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>

                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="m-4"> <i class="fa fa-shopping-cart" style="font-size:40px"></i></div>

                            </div>
                            <div class="col-6">
                                <div class="mx-2 my-4">
                                    <button type="button" class="btn btn-danger">BUY NOW</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <!-- Image section -->

    <!-- <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/images/image1.jpg">
            </div>
            <div class="col-4">
                <img src="../../assets/images/image2.jpg">
            </div>
            <div class="col-4 ">
                <div class="row">
                    <div class="col-12 ">
                        <img src="../../assets/images/apple.jpg" width="100%">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 mt-5">
                        <img src="../../assets/images/hanging.jpg" width="100%">

                    </div>
                </div>
            </div>
        </div>
    </div> -->